<ion-content [fullscreen]="true">
  <div class="containerBack">
    <ion-buttons slot="start">
      <ion-button class="btnInput" (click)="comeBack()">
        <ion-icon name="chevron-back-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </div>
  <div class="containerInput">
    <p class="p1">Confirme seu número</p>
    <p class="p2">
      Digite o código que acabamos de enviar para o número
      <strong>{{ countryCode }}</strong>
      <strong> *********{{ phoneNumber.slice(-2) }}</strong>
    </p>
    <div class="check">
      <input
        class="error"
        type="tel"
        maxlength="1"
        (input)="onInput($event, 1)"
      />
      <input
        class="error"
        type="tel"
        maxlength="1"
        (input)="onInput($event, 2)"
      />
      <input
        class="error"
        type="tel"
        maxlength="1"
        (input)="onInput($event, 3)"
      />
      <input
        class="error"
        type="tel"
        maxlength="1"
        (input)="onInput($event, 4)"
      />
      <input
        class="error"
        type="tel"
        maxlength="1"
        (input)="onInput($event, 5)"
      />
      <input
        class="error"
        type="tel"
        maxlength="1"
        (input)="onInput($event, 6)"
      />
    </div>
    <p class="error-message" *ngIf="showErrorMessage">
      Ops! Código inválido ou expirado
    </p>
    <p class="p3">
      Não recebeu o código?
      <span class="blue-text" (click)="resendCode()">Reenviar código</span>
    </p>
  </div>
</ion-content>
