<ion-content [fullscreen]="true">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="containerBack">
      <ion-buttons slot="start">
        <ion-button class="btnInput" (click)="comeBack()">
          <ion-icon name="chevron-back-circle-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </div>
    <div class="containerInput">
      <p class="p1">Poderia nos fornecer o seu número? 😁</p>
      <ion-row class="row">
        <ion-col size="3">
          <ion-item>
            <ion-input
              type="tel"
              maxlength="3"
              formControlName="countryCode"
              (keypress)="onCountryCodeKeyPress($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
        <ion-col>
          <ion-item>
            <ion-input
              type="tel"
              maxlength="11"
              formControlName="phoneNumber"
              (keypress)="onPhoneNumberKeyPress($event)"
            ></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>
    </div>
    <div class="containerBtn">
      <p class="p2">
        Vamos enviar um código para confirmar seu número. Fique de olho na sua
        caixa de mensagens. Tarifas de SMS e dados podem ser aplicáveis.
      </p>
      <ion-button (click)="onSubmit()" class="btnEnter">Confirmar</ion-button>
    </div>
  </form>
</ion-content>
